@media screen
and (min-width: 1200px) {

    body {
        background-color: #EDE3F9;
        }

    main {
        width: 60vw;
        margin: 30px auto;
        border-radius: 20px;
        box-shadow: 0 12px 16px 0 var(--primaire);
        }

/* - - - index homepage - - - - */

    header {
        width: 60vw;
        border-radius: 20px 20px 0 0;
        padding: 26px 0;
        }
    .fonctionnement {
        &_btn {
            margin: 12px 16px;
            }
        &_btn .number {
            flex: 0 1 30px;
            height: 30px;
            padding: 6px;
            }
        &_pos {
            flex-direction: row;
            }
        }
    .presentation {
        & p {
            font-size: 2em;
            padding: 0 80px;
            }
        }
    .btn {
        -width: 35%;
        }
    .restaurants {
            padding: 40px 30px;
        & .card_content {
            flex-direction: row;
            flex-flow: wrap;
            justify-content: space-between;
            }
        & .card {
            width: 27vw;
            margin: 0 0 40px 0;
            }
        }

    .footer_content {
        text-align: center;
        border-radius: 0 0 20px 20px;
        & h2 {
            font-size: 2em;
            }
        }

/* - - - menu - - - - */

.menu_presentation {
    & .menu_card {
        width: 60%
        }
    & .menu_card h1 {
        padding: 30px 0 30px 70px;
        font-size: 1.6em;
        }
    & .menu_card_child {
        margin: 0 30px 0 0;
        }
    }

.menu_content {
    padding: 20px 40px;
    & h1 {
        font-size: 1.2em;
        margin: 16px 0 16px 28px;
        }
    & .menu_position {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        & .menu {
            margin: 4px 0;
            flex: 0 1 50%;
            max-width: 50%;
            &__price {
                margin: 0;
                padding: 28px 10px 0 30px;
                }
            &__check {
                margin: 0 0 0 10px;
                padding: 0 55px 0 25px;
                }
            }
        }
    }
}