/* --Responsive Medium / iPad -- */

@media screen
and (min-width: 768px) 
and (max-width: 1200px) 
and (orientation:portrait) {

/* - - - index homepage - - - - */

.presentation {
    & p {
        font-size: 2em;
        padding: 0 80px;
        }
    & .btn {
        width: 50%;
        }
    }
.fonctionnement {
    &_btn {
        margin: 12px 16px;
        }
    &_btn .number {
        flex: 0 1 3vw;
        width: 3vw;
        height: 3vw;
        padding: 6px;
        }
    &_btn p {
        text-align: left;
        padding: 0 0 0 26px;
        }
    &_pos {
        flex-direction: row;
        }
    }

/* - - - menu - - - - */

.menu_presentation {
    & .menu_card h1 {
        padding: 30px 0 30px 60px;
        font-size: 1.6em;
        }
}

.menu_content {
    padding: 20px 40px;
    & h1 {
        font-size: 1.2em;
        margin: 16px 0 16px 10px;
        }
    & .menu_position {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        & .menu {
            margin: 4px 0;
            flex: 0 1 50%;
            max-width: 50%;
            &__check {
                padding: 0 28px 0 20px;
                }
            }
        }
    }

/* - - - footer - - - - */
.footer_content {
    padding: 20px 20px 40px 40px;
}
}

@media screen
and (min-width: 768px) 
and (max-width: 1200px) 
and (orientation:landscape) {

    .menu_presentation {
        & .menu_card {
            padding: 0 120px;
            }
    }
    .menu_content {
        padding: 20px 120px;
        & h1 {
            font-size: 1.2em;
            margin: 16px 0 16px 10px;
            }

        & .menu_position {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            & .menu {
                margin: 4px 0;
                flex: 0 1 50%;
                max-width: 50%;
                &__check {
                    padding: 0 28px 0 20px;
                    }
                }
            }
        }
  
}