/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

/* Color Charte */
:root {
--primaire: #9356DC;
--secondaire: #FF79DA;
--tertiaire: #99E2D0;
--backgrey: #f1f1f1;
}

/* Variable */
$purple: #9356DC;
$pink:#FF79DA;
$green: #99E2D0;

$posnew: calc(100vw - 140px);
$posnewdesktop: calc(32vw - 160px);
$posnewdesktop1: calc(2vw - 160px);

/* - - - Repère - - - - */

header, .arrow, .logo, .third {
    -border: 1px solid blue;
    }

/* No Media Specifications */

* {
    box-sizing: border-box;
    }

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    }
html, body, header, nav, ul, li, figure, figcaption {
    margin: 0;
    padding: 0;
    }

    a, 
    a:hover,
    a:visited {
        margin: 0;
        padding: 0;
        color: #000;
        text-decoration: none;
        }

    h1, h2, h3, h4, p {
        padding: 0;
        margin: 0;
        }

    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.2em;
        }

    h3 {
        font-size: 1.1em;
        }

    main {
        width: 100vw;
        margin: 0 auto;
        }

    .image_settings {
        width: 100%;
        min-height: 100%;
        max-height: 160px;
        object-fit: cover;
        }

    .image {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        }

    .poscor_up {
        object-position: 50% 60%
        }

    .poscor_up2 {
        object-position: 50% 100%
        }
    
/* - - - svg & icons - - - */

.st0 {
	fill: none;
	stroke:#000000;
	stroke-miterlimit:10;
	stroke-width:2;
    transition: fill .4s;
	}

.st0:hover {
    fill: #9356DC;
    stroke:#9356DC;
    cursor: pointer;
    }

.fa-solid {
    color: #7e7e7e;
    }

.presentation .fa-solid {
    color: #000;
    }
.menu_content .fa-solid {
    color: #fff;
    }
.footer_content .fa-solid  {
    color: white; 
    }

/* - - - loading Spinner - - - - */
.loader{
    position: fixed;
    inset: 0;
    z-index: 99;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: $purple;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    animation: disappear 1s 2s forwards;
    .logospin {
        display: flex;
        align-items: flex-end;
        border-bottom: 1px white solid;
        }
    & h2 {
        font-size: 2em;
        padding: 0 0 6px 0;
        }
    & .fa-solid {
        color: white;
        font-size: 36px;
        }
    & .fa-utensils {
        margin: 0 20px 10px 0;
        transform: translateY(0);
        animation: spinjump 1.5s ease-in-out infinite;
        }
    }
	
    @keyframes disappear {
        0% {
          opacity: 1;
          visibility: visible;
        }
        50% {
            opacity: 1;
            visibility: visible;      
        }
        100% {
          opacity: 0;
          visibility: hidden;
        }
    }

    @keyframes spinjump {
        0% {
            transform: translateY(10px);
        }
        8% {
            transform: translateY(0);
        }
        16% {
            transform: translateY(10px);
        }
        24% {
            transform: translateY(0);
        }
        32% {
            transform: translateY(10px);
        }
        40% {
            transform: translateY(0);
        }
        48% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(10px);
        }
    }

/* - - - heart anim - - - - */
    .restaurants .card_name_child,
    .menu_presentation .menu_card_child {
            .fa-regular {
                font-size: 30px;
                }
            .fa-solid {
                font-size: 30px;
                opacity: 0;
                position: absolute;
                mix-blend-mode: multiply;
                }
            .fa-solid:hover {
                cursor: pointer;
                animation: heartAnimation 600ms ease-in forwards;
                }
        }
    .restaurants .card_name_child {
            .fa-regular {
                margin: 0;
                }
            .fa-solid {
                margin: 0;
                }
        }
    .menu_presentation .menu_card_child {
            .fa-regular {
                margin: 0 20px 0 0;
                }
            .fa-solid {
                margin: 0 20px 0 0;
                }
        }
     
    @keyframes heartAnimation {
        0%{
        background: linear-gradient($purple, $pink);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        }
    
        100%{
        background: linear-gradient($pink, $purple);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 1;
        }
    }

/* - - - index homepage - - - - */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 16px 0;
    background-color: white;
    & .arrow {
        flex: 0 1 26%;
        font-size: 1.4em;
        text-align: center;
        padding: 0 40px 0 0;
        }
    & .arrow .fa-solid:hover {
        color: var(--primaire);
        }
    & .home {
        visibility: hidden;
        }
    & .logo {
        flex: 1 1 48%;
        width: 50%;
        }
    & .third {
        flex: 0 1 26%;
        }
    }
.presentation {
    padding: 0 0 40px 0;
    text-align: center;
    background-color: var(--backgrey);

    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
        font-size: 1.6em;
        font-weight: 600;
        padding: 40px 60px 10px 60px;
        }
    & p {
        font-size: 1.1em;
        font-weight: 200;
        padding: 0 10px;
        }
    & .localize {
        width: 100%;
        padding: 16px 0;
        background-color: #e9e9e9;
        box-shadow: inset 0 .1em .2em #ccc;
        }
    & .localize i {
        font-size: 1.4em;
        padding: 0 10px 0 0;
        }
    }
.btn {
    -display: block;
    margin: 20px auto;
    -max-width: 40%;
    -margin: 20px 0;
    padding: 16px 24px;
    font-size: 1rem;
    text-align: center;
    border-radius: 40px;
    background: linear-gradient(356deg, var(--primaire) 0%, var(--secondaire) 100%);
    -webkit-box-shadow: 0 4px 14px 0 #B0B0B0;
    box-shadow: 0 4px 14px 0 #B0B0B0;
    transition: all 1s;
    &:hover {
        cursor: pointer;
        margin: 20px auto;
        padding: 16px 24px;
        cursor: pointer;
        background: linear-gradient(16deg, var(--primaire) 0%, var(--secondaire) 100%);
        -webkit-box-shadow: 0 4px 20px 0 #8a8a8a;
        box-shadow: 0 4px 20px 0 #8a8a8a;
    }
    &:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                    inset 2px 2px 3px rgba(0, 0, 0, .6);
    }
    }
.fonctionnement {
    padding: 40px 20px 40px 30px;
    background: white;
    & h1 {
        font-size: 1.4em;
        font-weight: 600;
        }
    &_pos {
        display: flex;
        flex-direction: column;
        }
    &_btn {  
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0;
        margin: 12px 0;
        padding: 24px 0;
        width: 100%;
        font-size: 1rem;
        text-align: center;
        color: #000;
        border-radius: 20px;
        background-color: var(--backgrey);
        -webkit-box-shadow: 0 4px 14px 0 #d1d1d1;
        box-shadow: 0 4px 14px 0 #d1d1d1;
        opacity: 0;
        }
    &_btn .number {
        flex: 0 1 20px;
        -flex: 0 1 6%;
        -width: 20px;
        -height: 20px;
        margin: 0 0 0 -12px;
        padding: 2px 6px;
        border-radius: 50%;
        font-size: .9em;
        color: #fff;
        background-color: var(--primaire);
        }
    &_btn i {
        flex: 0 1 14%;
        padding: 0 0 0 10px;
        font-size: 1.2em;
        }
    &_btn p {
        flex: 1 1 auto;
        font-size: 1em;
        font-weight: 500;
        }
    &_btn .third {
        flex: 1 1 20%;
        }
    }
.restaurants {
    padding: 40px 20px;
    background-color: var(--backgrey);
    & h1 {
        font-size: 1.5em;
        font-weight: 600;
        padding: 0 0 20px 0;
        }
    & .card_content {
        display: flex;
        flex-direction: column;
        }
    & .card {
        -border: 1px solid blue;
        margin: 0 0 20px 0;
        border-radius: 20px;
        -webkit-box-shadow: 0 4px 14px 0 #B0B0B0;
        box-shadow: 0 4px 14px 0 #B0B0B0;
        background-color: white;
        -transition: background-color .4s;
        transition: margin .4s;
        }
    & .card:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 8px 24px 0 #666;
        box-shadow: 0 8px 24px 0 #666;
        }
    & .card img {
        height: 175px;
        border-radius: 20px 20px 0 0;
        }
    & .card_name {
        display: flex;
        justify-content: space-between;
        padding: 12px 20px;
        font-size: 1em;
        line-height: 1.6em;
        font-weight: 300;
        border-radius: 0 0 20px 20px;
        }
    & .card_name_child {
        flex: 0 1 auto;
        align-self: center;
        }
    & .new {
        position: relative;
        margin: 0 0 -38px $posnew;
        width: 80px;
        text-align: center;
        padding: 6px 10px;
        border-radius: 2px;
        z-index: 3;
        font-size: .9em;
        font-weight: 500;
        color: #009966;
        background-color: var(--tertiaire);
        }
    }
.footer_content {
    padding: 20px 20px 40px 20px;
    color: white;
    background-color: #353535;
    & h2 {
        letter-spacing: 1px;
        padding: 0 0 14px 0;
    }
    & i {
        padding: 0 10px 0 0;
    }
    & ul {
        list-style-type: none;
    }
    & a {
        font-size: 1em;
        line-height: 2em;
        color: white;
    }

    }

/* - - - pages restaurants - - - - */

.menu_presentation {
    & .image_menu {
        width: 100%;
        min-height: 100%;
        max-height: 340px;
        object-fit: cover;
        }
    & .menu_card {
        display: flex;
        justify-content: space-between;
        position: absolute;
        margin-top: -60px;
        z-index: 99;
        width: 100%;
        background-color: var(--backgrey);
        border-radius: 40px 40px 0 0;
        }
    & .menu_card h1 {
        padding: 30px 20px;
        font-family: 'Shrikhand', cursive;  
        font-size: 1.6em;
        }
    & .menu_card_child .corh1 { 
            letter-spacing: 1px;
        }   
    & .menu_card_child {
        flex: 0 1 auto;
        align-self: center;
        margin: 0 0 0 10px;
        }
    }
.menu_content {
    height: auto;
    background-color: var(--backgrey);
    padding: 20px 10px;
    & .menu_position {
        display: flex;
        flex-direction: column;
        }
    & h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        text-transform:uppercase;
        color: #666;
        width: 30px;
        padding: 20px 0 6px 0;
        margin: 10px 0 10px 20px;
        border-bottom: 4px solid var(--tertiaire);
        }
    & .presentation {
        padding: 0;
        }
    }
.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
    border: 0;
    background-color: transparent;
	margin: 6px 0;
    opacity: 0;
    transition: all 0.5s;
    &__elements {
        display: flex;
        overflow: hidden;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0 4px 14px 0 #d1d1d1;
        width: 96%;
        }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        }
    &__description {
        min-width: 80%;
        padding: 10px;
        }
    &__description p {
        font-weight: 300;
        }
    &__description h3,
    &__description p {
        margin: 4px 8px;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        }
    &__price {
        flex-shrink: 0;
        width: 20%;
        font-weight: 700;
        padding: 28px 10px 0 0;
        }
    &__check {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 24px;
        border-radius: 0px 20px 20px 0px;
        background-color: #99E2D0;
        }
        .fa-circle-check {
            color: #fffefc;
            font-size: 24px;
            }
    }

/* - - - animations - - - - */

/* transition */
.menu__container,
.menu__price,
.menu__check,
.fa-circle-check {
	transition: 0.5s;
	}

/* animation */
.menu__elements:hover .menu__container {
	cursor: pointer;
	width: 80%;
	}
.menu__elements:hover .menu__price {
	width: 20%;
	}
.menu__elements:hover .fa-circle-check {
	transform: rotate(-360deg);
	}

.fonctionnement {
    &_btn {  
        animation-name: slideDown;
        animation-duration: .4s;
        animation-fill-mode: forwards;
        }
    &_btn:nth-child(2) {
        animation-delay: .2s;
        }
    &_btn:nth-child(3) {
        animation-delay: .4s;
        }
    &_btn:nth-child(4) {
        animation-delay: .6s;
        }
    }

.menu {
        animation-name: slideDown;
        animation-duration: .4s;
        animation-fill-mode: forwards;
    &:nth-child(2) {
        animation-delay: .2s;
        }
    &:nth-child(3) {
        animation-delay: .4s;
        }
    &:nth-child(4) {
        animation-delay: .6s;
        }
    &:nth-child(5) {
        animation-delay: .8s;
        }
    &:nth-child(6) {
        animation-delay: .10s;
        }
    &:nth-child(7) {
        animation-delay: .12s;
        }
    &:nth-child(8) {
        animation-delay: .14s;
        }
    &:nth-child(9) {
        animation-delay: .16s;
        }
    &:nth-child(10) {
        animation-delay: .18s;
        }
    }

@keyframes slideDown {
    0% {
        transform: translateY(10px);
        opacity: 0;
        }
      50% {
        opacity: 0.2;
        }
    100% {
        transform: translateY(0);
        opacity: 1;
        }
    }

@media screen
and (max-width: 768px) {
    .menu_content {
        & h3,
        & p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

@import "style_medium";

@import "style_large";




